body{
    background-image: url(C:\Users\farza\Downloads\bg.jpg);
    background: linear-gradient(white, rgb(247, 208, 128));
    margin: 0;
}
.marquee-tag{
    direction: left;
    background-color: rgb(31, 134, 244);
    width: 100%;
    height: 70px;
    font-size: 50px;
    font-weight: bolder;
    color: white; 
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.school-image{
    max-width: auto;

}
.school-title{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.school-name{
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin: 10px 40px;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#checkbutton{
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 50px 20px;

}
.ul a{
    text-decoration: none;


}
.home{
    color: #FEA301;
    font-size: 20px;
    font-weight: 700;
}
.about{
    color: #01ACFD;
    font-size: 20px;
    font-weight: 500;
}
.facilities{
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color:  #5D58EF;
    font-size: 20px;
    font-weight: 500;
}
.school-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px;


}
.btn{
margin: 40px 50px;
    justify-content: left;
    border-radius: 12px;
    border-color: #FEA301;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FEA301;
    box-shadow: none;
}
button:hover{
    background-color: pink;
}
.banner-title{
    text-align: left;
    font-size: 56px;
    font-weight: 700;

}

.same-font{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.font-side{
    text-align: left;
}
.p-font{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.font0{
    color: #FEA301;
}
.font-1{
    color: black;
}
.font-2{
    color: #01ACFD;
}
.banner-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 24px 0;
}
.btn-1{
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background-color: #111111;
    color: white;
    margin: 0 auto;
}
.banner-image{
    justify-content: right;
    mix-blend-mode: multiply;

}
.school-banner{
    display: flex;
    flex-direction: row;
    margin: 40px 250px;
    gap: 50px;
    max-width: auto;

}
.curriculum{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}
.class1{
    background:linear-gradient( #DEF5FF, #ffffff);
    border-radius: 18px;
    border-color: #DEF5FF;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
}
.icon1, .icon2,.icon3{
    display: block;
    margin: 40px auto;
    mix-blend-mode: multiply;
}

.class2{
    background:linear-gradient( #FFF4DC, #ffffff);
    border-radius: 18px;
    border-color: #FFF4DC;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px beige;
    display: block;
    justify-content: center;
    align-items: center;
}
.class3{
    background:linear-gradient( #F2E8FF, #ffffff);
    border-radius: 18px;
    border-color: #F2E8FF;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px #efccf7;
    display: block;
    justify-content: center;
    align-items: center;
}
.button-font{
    font-size: 15px;
    font-weight: 700;
    background: none;
    border-style: none;
    display: block;
    margin: 10px auto;

}
.btn1{
    color: #01ACFD;
}
.btn2{
    color: #FEA301;
}
.btn3{
    color: violet;
}
.classes {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    gap: 28px;
    padding: 30px 0;


}
.classes p {
    padding: 10px 5px;
    text-align: center;
}
.center-button{
    background-color: #FEA301;
    border: none;
    color: white;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    width: 50px;
    font-size: 20px;
    gap: 10px;
    display: inline-block;
}
.centerbuttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.story1{
    background-color: white;
    border-radius: 20px;
    margin: 0 40px;
}
.story1 p{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #666666;
}
.story1 h5{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.story-font{
    font-size: 15px;
    font-weight:700;

}
.kids-story{
    display: flex;
    flex-direction: row;
    margin: 50px 130px;
    padding: 80px 0;
}
.kids-story img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.story-board{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
   
}
.gridstory-title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.story-gap{
   
    border-radius: 20px;
    background-color: white;

}
.last-btn{
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px 90px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;


}
.storybtn1{
    background-color: #3CD8E8;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border:none;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 30px;
    margin-left: 50px;
    margin-top: -100px;
}
.common-btn {
    background-color: violet;
    color: white;
    text-align: center;
    border: none;
    border-radius: 14px;
    padding: 5px 5px;
    margin-left: 40px;
    margin-top: -100px;
    font-weight: 500;
    font-size: 15px;
}
.common-btn2{
    background-color: rgb(82, 253, 20);
    color: white;
    text-align: center;
    border: none;
    border-radius: 14px;
    padding: 5px 5px;
    margin-left: 40px;
    margin-top: -100px;
    font-weight: 500;
    font-size: 15px;
}

footer{
    background-color: rgb(20, 193, 176);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 100px;
    margin-top: 60px;
}
.footer1 h4 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer2 h4,.footer3 h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px; 
}
.footer1-name{
    display: flex;
    flex-direction: row;
    margin: 30px 10px;
    max-width: 300px;
}

.footer1 p {
    font-size: 20px;
    font-weight: 400;
}

.footer3 img{
    display: inline-block;
    padding: 10px;
}

.footer2 a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer2 li{
    list-style: none;
}
.footer2 a:hover, .footer3 a:hover{
    text-decoration: underline;

}
@media screen and (max-width: 576px) {
    .school-name> h4,.btn,.navbar,.marquee-tag{
        display: none;
          
    }

    #checkbutton{
        display: block;
        margin-top: 40px;
        
    }
    
      .school-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        margin: 0 10px;
      }
      header {
        border-bottom: 5px solid #FEA301;
      
        
      }
      .school-banner{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 20px;
        padding: 20px;
        gap: 5px;
      }
     

      .banner-title {
        text-align: center;
        font-size: 45px;
        padding: 0;

      }
      .banner-text{
        text-align: center;
        font-size: 20px;
        padding: 15px auto;

      }
      .btn-1{
        display: block;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        width: 20px 40px;
        text-align: center;
      }
      .curriculum{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin-top: 20px;
      }
      .classes{
        display: flex;
        flex-direction: column;
        margin: 40px 10px;
        gap: 20px;
        

      }
      .classes p{
        text-align: center;
        font-size: 15px;
        text-wrap: balance;
        color: #808080;
      }
      .button-font{
        font-size: 15px;
        font-weight: 600;
        background: none;
        border-style: none;
        display: block;
        margin: 30px auto;
      }
      .centerbuttons{
        display: none;
      }
      .story1{
        display: none;
        width: 0;
      }
      .kids-story{
        margin: 10px;
        width:450px;  
      }
      .story-board {
        grid-template: 20px;
        justify-content: center;
        align-items: center;
        gap:10px;

       

      }
      .gridstory-title{
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-wrap: balance;
      }
      .last-btn{
        font-size: 15px;
      }
    
      .footer1 h4  {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-left: 5px;
      }
      .footer2 h4,.footer3 h4{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;

      }
      .footer1 p {
        font-size: 15px;
      }
      .footer3 img{
        display: inline-block;
        padding: 5px;
      }
      .footer2 a{
        display: block;
        text-decoration: none;
        justify-content: left;
    }
    .footer1 p{
        text-align: left;
        font-size: 16px;
        font-weight: 400;
         text-wrap: wrap;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content:left;
        padding: 80px 20px;
        padding: 60px 30px;
      }
      .footer2 ul{
        margin: o auto;
        text-align: left;
        padding: 5px 0;
      }
      .banner-image{
        display: flex;
        justify-content: center;
        margin: 20px 50px;

      }
      .banner-image img{
        width: 100%;
      }
      

        



}