main{
    background-image: url(C:\projects\bg.png);
    background: linear-gradient(white, rgb(247, 208, 128));
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.school-image{
    max-width: 4rem;

}
.school-title{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.school-name{
    display: flex;
    flex-direction: row;
    gap: 11px;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.navlinks{
    text-decoration-style: none;


}
.home{
    color: #FEA301;
    font-size: 20px;
    font-weight: 700;
}
.about{
    color: #01ACFD;
    font-size: 20px;
    font-weight: 500;
}
.facilities{
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color:  #5D58EF;
    font-size: 20px;
    font-weight: 500;
}
.school-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.btn{
    width: auto;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FEA301;
}
button:hover{
    background-color: pink;
}
.banner-title{
    text-align: left;
    font-size: 56px;
    font-weight: 700;

}

.same-font{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.font-side{
    text-align: left;
}
.p-font{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.font0{
    color: #FEA301;
}
.font-1{
    color: black;
}
.font-2{
    color: #01ACFD;
}
.banner-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 24px 0;
}
.btn-1{
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background-color: #111111;
    color: white;
    margin: 0 auto;
}
.banner-image{
    justify-content: right;

}
.banner, .banner-image{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    gap: 50px;
    max-width: auto;

}
.banner{
    padding: 120px 0;
}
.curriculum{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}
.class1{
    background:linear-gradient( #DEF5FF, #ffffff);
    border-radius: 18px;
    border-color: #DEF5FF;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
}
.class2{
    background:linear-gradient( #FFF4DC, #ffffff);
    border-radius: 18px;
    border-color: #FFF4DC;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px beige;
    display: block;
    justify-content: center;
    align-items: center;
}
.class3{
    background:linear-gradient( #F2E8FF, #ffffff);
    border-radius: 18px;
    border-color: #F2E8FF;
    border-width: 1px;
    box-shadow: inset 0px 0px 30px #efccf7;
    display: block;
    justify-content: center;
    align-items: center;
}
.button-font{
    font-size: 15px;
    font-weight: 700;
    background: none;
    border-style: none

}
.btn1{
    color: #01ACFD;
}
.btn2{
    color: #FEA301;
}
.btn{
    color: #5D58EF;
}
.classes {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    gap: 28px;
    padding: 50px 0;


}
.center-button{
    background-color: #FEA301;
    border: none;
    color: white;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    width: 50px;
    font-size: 20px;
    margin-bottom: 40px;
    gap: 10px;
}
.story-font{
    font-size: 15px;
    font-weight:700;

}
.footer1 h4, .footer2 h4,.footer3 h4 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 700;
}

.footer1 p {
    font-size: 20px;
    font-weight: 400;
}
.footer1,.footer2,.footer3{
    display: flex;
justify-content: space-between;
}
.footer3 a{
    display: inline;
}

.footer2 a, .footer3 a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer2 a:hover, .footer3 a:hover{
    text-decoration: underline;

}