main{
    background-image: url(projects\bg.png);
    background: linear-gradient(white, rgb(247, 208, 128));
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.school-image{
    max-width: 4rem;

}
.school-title{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.school-name{
    display: flex;
    flex-direction: row;
    gap: 11px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-decoration-style: none;
    justify-content: center;
    align-items: center;

}
.home{
    color: #FEA301;
    font-size: 20px;
    font-weight: bold;
}
.about{
    color: #01ACFD;
    font-size: 20px;
    font-weight: 400;
}
.facilities{
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color:  #5D58EF;
    font-size: 20px;
    font-weight: 500;
}
.btn{
    max-width: 20px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FEA301;
    justify-content: right;

}
.school-nav{
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    justify-content: space-between;

}
button:hover{
    background-color: pink;
}
.banner-title{
    text-align: left;
    font-size: 56px;
    font-weight: 700;

}
.font0{
    color: #FEA301;
}
.font1{
    color: black;
}
.font2{
    color: #01ACFD;
}
.banner-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 24px 0;
}
.btn-1{
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background-color: #111111;
    color: white;
}
.banner-image{
    justify-content: right;

}
.banner, .banner-image{
    display: flex;
    flex-direction: column;
    margin: 0 140px;
    gap: 50px;
    max-width: 140px;



}
.banner{
    padding: 200px 0;
}