main{
    background-image: url(projects\bg.png);
    background: linear-gradient(white, rgb(247, 208, 128));
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.school-image{
    max-width: 4rem;

}
.school-title{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.school-name{
    display: flex;
    flex-direction: row;
    gap: 11px;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-right: 32px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.navlinks{
    text-decoration: none;
}
.home{
    color: #FEA301;
    font-size: 20px;
    font-weight: 700;
}
.about{
    color: #01ACFD;
    font-size: 20px;
    font-weight: 500;
}
.facilities{
    color: #05D4DF;
    font-size: 20px;
    font-weight: 500;
}
.admission{
    color:  #5D58EF;
    font-size: 20px;
    font-weight: 500;
}
.school-nav{
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    justify-content: space-between;

}
.btn{
    max-width: 20px;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FEA301;
}
button:hover{
    background-color: pink;
}
.banner-title{
    text-align: left;
    font-size: 56px;
    font-weight: 700;

}
.font0{
    color: #FEA301;
}
.font-1{
    color: black;
}
.font-2{
    color: #01ACFD;
}
.banner-text{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 24px 0;
}
.btn-1{
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background-color: #111111;
    color: white;
    margin: 0 auto;
}
.banner-image{
    justify-content: right;

}
.banner, .banner-image{
    display: flex;
    flex-direction: column;
    margin: 0 140px;
    gap: 50px;
    max-width: 140px;

}
.banner{
    padding: 120px 0;
}
.curriculum{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.class1{
    background:linear-gradient( #DEF5FF, #ffffff);
    border-radius: 18px;
    border-color: #DEF5FF;
    border-width: 1px;
    box-shadow: inset 10px 10px 10px gainsboro;


}



}
.button-font{
    font-size: 15px;
    font-weight: 700;
    background: none;
    border-style: none

}
.btn1{
    color: #01ACFD;
}
.btn2{
    color: #FEA301;
}
.btn{
    color: #5D58EF;
}